<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>fish tank water tracking</h1>
    {{#if title}}<h2>{{title}}</h2>{{/if}}
    {{{body}}}
  </body>
</html>
